<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Главная страница</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="form_container">
                    <p>Добрый день, это <span class="decipher">дешифратор</span></p>
                    <p>Вводите слово</p>
                    <form class="form" action="post_cipher" method="post">
                        <input class="cipher_input" name="cipher">
                        <input class="cipher_button" type="submit" value="Расшифровать">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
